<div class="container-fluid">

  <div class="panel panel-default">

    <div class="panel-heading">
        <h1 class="text-center">Processos</h1>
    </div>

    <div class="panel-body">

      <div class="table-responsive">

        <table class="table table-bordered" style="white-space: nowrap;">
          <thead>
            <tr>
              <th>#</th>
              <th>Número Processo</th>
              <th>Ano Processo</th>
              <th>Ação</th>
              <th>Data audiencia</th>
              <th>Hora Audiencia</th>
              <th>Tipo Audiencia</th>
              <th>Representante CPF</th>
              <th>Gênero Parte Réos</th>
              <th>Genêro Réu</th>
              <th>Nome Réu</th>
              <th>Genêro Juiz</th>
              <th>Nome Juíz</th>
              <th>Genêro Promotor</th>
              <th>Nome Promotor</th>
              <th>Genêro Adv Autor</th>
              <th>Advogado Autor</th>
              <th>Genêro Adv PR</th>
              <th>Advogado Réu</th>
            </tr>
          </thead>
          <tbody>
            <% @processes.each_with_index do |p, index| %>
              <tr>
                <td>
                  <div class="btn-group-sm">
                    <button type="button" name="button" class="btn btn-info">
                      <span class="glyphicon glyphicon-list-alt"></span>
                    </button>
                    <button type="button" name="button" class="btn btn-info">
                      <span class="glyphicon glyphicon-list-alt"></span>
                    </button>
                    <button type="button" name="button" class="btn btn-warning">
                      <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <%= link_to delete_process_path(p), method: :delete, class: 'btn btn-danger' do %>
                      <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                  </div>
                </td>
                <td><%= p.nu_process %></td>
                <td><%= p.year_process %></td>
                <td><%= p.action %></td>
                <td><%= p.court_hearing_date %></td>
                <td><%= p.court_hearing_time %></td>
                <td>
                  <select class="form-control">
                    <option value="selecione" selected="selected"></option>
                    <option value="CONCILIAÇÃO">CONCILIAÇÃO</option>
                    <option value="INSTRUÇÃO E JULGAMENTO">INSTRUÇÃO E JULGAMENTO</option>
                    <option value="JUSTIFICAÇÃO">JUSTIFICAÇÃO</option>
                    <option value="CONCILIAÇÃO">CONCILIAÇÃO</option>
                    <option value="INSTRUÇÃO E JULGAMENTO">INSTRUÇÃO E JULGAMENTO</option>
                  </select>
                </td>
                <td><%= p.cpf_represetant %></td>
                <td><%= p.gender_part_defendant %></td>
                <td><%= p.defendent_gender %></td>
                <td><%= p.defendent_name %></td>
                <td><%= p.judge_gender %></td>
                <td><%= p.judge_name %></td>
                <td><%= p.prosecutor_gender %></td>
                <td><%= p.prosecutor_name %></td>
                <td><%= p.lawyer_gender_author %></td>
                <td><%= p.lawyer_author %></td>
                <td><%= p.lawyer_gender_pr %></td>
                <td><%= p.lawyer_defendent %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <div class="container-fluid">
        <%= link_to 'Cadastrar processos', processes_new_path, class: 'btn btn-success' %>
      </div>
    </div>
  </div>

</div>
